{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Travel Rental Fashion</a></h1>
        </div>
        <!--
        <divclass="post">
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Hello！ Nice to meet you！ </p>
        </div>
        -->
        <div class="tops">
            <img src="{% static 'image/tops.png' %}" alt="tops.png">
        </div>
        <div class="bottoms">
            <img src="{% static 'image/bottoms.png' %}" alt="bottoms.png">
        </div>
        
    </body>
</html>